.black_font_color{
    color: black;
}

.display-cars-index{
    text-align: center;


    color:black;
}
.col-md-cust3 {

    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    /*max-width: 25%*/
}

.projects-section {
    padding: 10rem 0;
    background: linear-gradient(to bottom, rgba(22, 22, 22, .1) 0, rgba(22, 22, 22, .5) 75%, #161616 100%), url(../img/zdjecia_samochodu/lamp1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover
}